.hero {
  display: flex;
  align-items: center;
  padding: 25px 10px 30px;
  flex: 1 1 240px;
}
@media (max-width: 500px) {
  .hero {
    border-bottom: 0.3px solid #dfdfdfaf;
  }
}
@media (min-width: 768px) {
  .hero {
    flex-basis: 245px;
  }
}
.hero-pic {
  width: 20%;
  min-width: 80px;
  max-width: 90px;
}
.hero-pic img {
  width: 100%;
}
.hero-detail {
  width: 80%;
}
.hero-name {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}
.hero-desc {
  color: #696969;
}
.roles,
.specialis {
  margin-bottom: 5px;
}
